@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ABCArizonaFlareVariable';
	src: url('/fonts/ABCArizonaFlareVariable.woff2');
	font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #DBDBDB;
}

.gradient-down {
    -webkit-mask-image: linear-gradient(to bottom, #d2d2d2, transparent 95%);
    mask-image: linear-gradient(to bottom, #d2d2d2, transparent 95%)
}

.gradient-down-balls {
    -webkit-mask-image: linear-gradient(to bottom, black, transparent 99%);
    mask-image: linear-gradient(to bottom, black, transparent 99%)
}

.gradient-up {
    -webkit-mask-image: linear-gradient(to top, #d2d2d2, transparent 95%);
    mask-image: linear-gradient(to top, #d2d2d2, transparent 95%)
}
